.w-div-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 55%;
  height: 70vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.img-content-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}
.title-highlights {
  color: red;
}
.content-details .description .highlight {
  color: #ff0000; /* Replace with your desired color */
}
.advert-div {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 60vh;
}
.advert-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .w-div-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 90%;
    height: 70vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .advert-div {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 60vh;
  }
  .ity {
    margin-top: 100px;
  }
}
@media screen and (max-width: 480px) {
  .w-div-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 95%;
    height: 70vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .advert-div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50vh;
  }
  .ity {
    margin-top: 100px;
  }
}
