.card-large-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

  /* w-full h-full object-cover rounded-md */
}
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}
.min-large-card-div {
  height: 40vh;
  width: 95%;

  position: relative;
}
.name-card-big-h {
  margin-top: 5px;
  font-size: small;
  color: gray;
  font-weight: 500;
}
.name-card-big-hi {
  font-size: small;
  color: gray;
  font-weight: 400;
}
.big-card-hov {
  display: none;
  cursor: pointer;
}
.big-card-hov:hover {
  display: flex;
  position: absolute;
  top: 50%;
  left: 40%;
  color: white;
  /* overlay icon absolute top-1/2 left-[40%] text-white  */
}
.big-card-hov-large2 {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 40%;
  color: white;
}
.nitk {
  color: black;
}

@media screen and (max-width: 768px) {
  .min-large-card-div {
    height: 40vh;
    width: 100%;

    position: relative;
  }
}
