.layout-main-div {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 8px;
}
.lay-min-div {
  /* display: contents; */

  width: 100%;
}
.side-div-layout {
  margin-top: 30px;
  width: 25%;

  margin-right: 10px;
  margin-left: 30px;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 10px;
  /* md:w-[25%] border-2 border-solid border-gray-100 rounded-xl p-5 */
}
@media screen and (max-width: 768px) {
  .lay-min-div {
    width: 100%;
  }
  .layout-main-div {
    display: block;
  }
  .side-div-layout {
    width: 25%;
  }
}
